{
  "presets": [
    "latest",
    "stage-0",
    "flow"
  ],
  "plugins": [
    ["inferno", {"imports": true}],
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy"
  ]
}
